#slider {
    > .main {
        position: absolute;
        width: 100%;
        z-index: 0;
        //margin-top: @navbar-height;
    }
    > .thumbnails > .wrapper {
        .hinh();
        text-align: center;
        overflow: auto;
        padding-top: (@navbar-height / 1.2);
        padding-bottom: (@navbar-height / 1.2);
        background-color: fade(@brand-info, 80%);
        > .item {
            
            &.active {
                > .thumbnail {
                    border-radius: 4px;
                    background-color: @thumbnail-bg;
                    border-color: @thumbnail-border;
                    .opacity(1);
                }
            }
            &:hover {
                > .thumbnail {
                    .opacity(1);
                }
            }
            > .thumbnail {
                .border-top-radius(10px);
                .border-bottom-radius(10px);
                //.opacity(.5);
                //background-color: fade(@thumbnail-bg, 50%);
                background-color: transparent;
                border-color: transparent;
                margin-bottom: (@line-height-computed / 2) / 2;
                margin-top: (@line-height-computed / 2) / 2;
                width: 100%;
            }
        }
    }
}